.jumbotron{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 3px 4px #ffffff;
    margin: 20px;

}
.heads{
    padding: 20px;
    color: #37373a;
    font-family: 'Chakra Petch', sans-serif;
}
.create{
    padding: 20px;    
}
.post{
    margin-top: 20px;
}
#files{
    display: inline-block;
    width: 40%;
}
#postBtn{
    background-color: #fe5e39;
    color: white;
    border-color: #fe5e39;
    display:inline-block;
    margin-top: 10px;
    float: right;
}
#postBtn:hover{
    background-color: #e2330b;
    color: white;
    border-color: #e2330b;
}
.part1{
    padding: 20px;
    
}
.part1 img{
    width: 30px;
    display:inline-block;
    height: auto;
    border-radius: 50%;
}
.part1 h5{
    display:inline-block;
   font-size: 15px;
   font-family: 'Chakra Petch', sans-serif;
}
.part1 small{
    float: right;
}
.part2{
    padding: 20px;
   
}
.part2 p{
    font-family: 'Chakra Petch', sans-serif;

}
.image img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
.welcome{
    height: 100vh;
    width: 100%;
    background:url(../images/6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#homeimg img{
    height: auto;
    width: 100%;
}
.lead{
    font-family: 'Chakra Petch', sans-serif;
    color: black;
    background-color: white;
    padding: 20px;
    border-radius:5px;
}
.br{
    color:#fa5530;
}
.login{
    background-color: #CCD1D1 ;
    height: 100vh;
}

.panel-heading h3{
    font-family: 'Satisfy', cursive;
    font-weight: 700;
}
.norm{
    font-family: 'Chakra Petch', sans-serif;
}
#follo{
    color: #85C1E9 ;
    font-family: 'Chakra Petch', sans-serif;
    float: right;
}
#follo:hover{
    color: #85C1E9 ;
    background-color: black;
}
#cover {
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
    border-radius: 10px;
}

#sign2{
   font-size: 12px; 
   font-family: 'Chakra Petch', sans-serif;
}
#sign{
    background-color: #fe5e39;
    color: white;
    border-color: #fe5e39;
    margin-top: 10px;
}
#postBtn:hover{
    background-color: #e2330b;
    color: white;
    border-color: #e2330b;
}