{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}

<section class="welcome">
    <div class="container-fluid px-4 py-5  text-center">
        <div class="lc-block">
            <div editable="rich">
                <h2 class="display-5 fw-bold">We help you to build a personality!</h2>
            </div>
        </div>
        <div class="lc-block col-lg-6 mx-auto mb-4">
            <div editable="rich">
    
                <p class="lead ">
                    Instapage is a free, online photo-sharing application and social
                     network platform that  lets you connect with brands, celebrities,
                     thought leaders, friends, family, and more.
                </p>
            </div>
        </div>
    
        <div class="lc-block d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"> <a class="btn btn-primary btn-lg px-4 gap-3" href="#" role="button">Login</a>
            <a class="btn btn-outline-secondary btn-lg px-4" href="#" role="button">Create Account</a>
        </div>
        <div class="lc-block d-grid gap-2 d-sm-flex justify-content-sm-center">
            <div class="overflow-hidden" style="max-height: 30vh;">
                <div class="container px-5">
                    <img class="img-fluid border rounded-3 shadow-lg mb-4" src="https://images.unsplash.com/photo-1530435460869-d13625c69bbf?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8MTB8fHdlYnNpdGV8ZW58MHwwfHx8MTYyMTQ0NjkyNg&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768" alt="Photo by Pankaj Patel">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}