{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<section class="post">
    <div class="coantainer">
        <div class="row">
            <div class="col-md-9">
                <div class="jumbotron" id="jumbo1">
                    <div class="heads">
                        <h6>Create Post</h6>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="create">
                                <form action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <textarea required class="form-control" name="description" rows="3" placeholder="share what you are thinking here..."></textarea>
                                      </div>
                                      <input required type="file" name="image" id="files" class="form-control" />
                                      <button id="postBtn" type="submit" class="btn btn-primary mb-3">Post Status</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% for images in images %}
                <div class="jumbotron" id="jumbo2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="part1">
                                <img src="{{images.image.url}}" alt="" class="d-inline-block align-text-top">
                                <h5>{{user.username}}</h5>
                                <small>{{images.post_date}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="part2">
                                <p>
                                    {{images.description}}
                                </p>
                                <div class="image">
                                    <img src="{{images.image.url}}" alt="profile pic"> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="part2">
                                <div class="icons">
                                <i class="far fa-heart" style="color:#fe5e39;font: size 20px;padding:20px"> Like</i>
                                <i class="far fa-thumbs-down" style="color:#fe5e39;font: size 20px;padding:20px"> Dislike</i>
                                <i class="far fa-comments" style="color:#fe5e39;font: size 20px;padding:20px" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> Comment</i>
                                </div>
                                <div class="collapse" id="collapseExample">
                                    <form action="">
                                        <div class="mb-3">
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="share what you are thinking here..."></textarea>
                                        </div>
                                        <button id="postBtn" type="submit" class="btn btn-primary mb-3">Post Comment</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-md-3">
                <div class="jumbotron" id="jumbo3">
                    <div class="heads">
                        <h6>Friend Suggestions</h6>
                    </div>
                    <div class="part1">
                        <img src="../../../static/images/logo/home.png" alt="" class="d-inline-block align-text-top">
                                <h5>{{user.username}}</h5>
                                <a href="{% url 'personal' %}"><small>profile</small></a>
                    </div>
                    <div class="part1">
                        <img src="../../../static/images/logo/home.png" alt="" class="d-inline-block align-text-top">
                                <h5>{{user.username}}</h5>
                                <small>follow</small>
                    </div>
                    <div class="part1">
                        <img src="../../../static/images/logo/home.png" alt="" class="d-inline-block align-text-top">
                                <h5>{{user.username}}</h5>
                                <small>follow</small>
                    </div>
                    <div class="part1">
                        <img src="../../../static/images/logo/home.png" alt="" class="d-inline-block align-text-top">
                                <h5>{{user.username}}</h5>
                                <small>follow</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
