{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<section>
<div class="d-flex container-fluid" lc-helper="background" style="height:50vh;background:url(../../../static/images/3.jpg)  center / cover no-repeat;">
</div>
<div class="container p-5 bg-light" style="margin-top:-100px">
	<div class="row">
		<div class="col-md-4 text-center align-self-center">
			<div class="lc-block border-end border-2 ">
				<div editable="rich">
					{% for posts in posts %}
					<img src="{{posts.dp.url}}" height="130px" style="border-radius: 50%;" alt="" srcset="">
					{% endfor %}
				</div>
				<strong style="margin-top: 10px;">Username: <span style="text-transform: capitalize; font-weight: lighter;"> {{user.username}}</span> </strong>
				<p style="padding: 20px;font-weight: 600;">My Bio</p>
				<small>
					{% for posts in posts %}
                        {{posts.bio}}
						{% endfor %} 
				</small></br>

				<button type="button" id="show" class="btn btn-info m-3">Profile Settings</button>
				<div class="fom m-3" id="foms" style="display: none;">
					<form action="" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="mb-3">
							<textarea class="form-control" name="bio" rows="3" placeholder="Add Bio..."></textarea>
						  </div>
						<div class="mb-3">
							<input type="file" name="dp" id="files" class="form-control" style="float: left;"/>
						  <button id="postBtn" type="submit" class="btn btn-primary mb-3">Add</button>
						</div>  
					</form>
				</div>
			</div>
		</div>
        <div class="col-md-8">
			<div class="lc-block ">
				<div editable="rich">
					<p >
						 My Posts
                    </p>
					<div class="row">
						<div class="col-md-12" id="jumbo2" style="height: 400px;" >
							{% for posts in posts %}
                            <div class="post" style="margin-bottom: 10px;">
                                <div class="part1">
                                    <img src="{{posts.dp.url}}" alt="">
                                    <h5>{{posts.user.username}}</h5>
                                    <small>{{posts.user.images.post_date}}</small>
                                    <div class="part2">
                                        <p>
                                            {{posts.user.image.description}}
                                        </p>
                                        <div class="image">
                                            <img src="{{posts.user}}" class="img-fluid" alt="profile pic">
                                        </div>
                                        <div class="icons">       
                                        </div>
                                    </div>
                                </div>  

                            </div>
                           {% endfor %}
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9 offset-md-1">
			<div class="lc-block mt-5">
				
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$('#show').click(function(event){
			event.preventDefault();
			$('#foms').toggle(500);
		})
		$('#postBtn').click(function(event){
			$("#show").hide();
		})
	})
</script>
</section>
{% endblock %}